[submodule "HarmonyEngine/vendor/glm"]
	path = HarmonyEngine/vendor/glm
	url = https://github.com/Nick-Fanelli/glm.git
[submodule "HarmonyEngine/vendor/glfw"]
	path = HarmonyEngine/vendor/glfw
	url = https://github.com/Nick-Fanelli/glfw.git
[submodule "HarmonyEngine/vendor/yaml-cpp"]
	path = HarmonyEngine/vendor/yaml-cpp
	url = https://github.com/Nick-Fanelli/yaml-cpp.git
[submodule "HarmonyEngine/vendor/lua"]
	path = HarmonyEngine/vendor/lua
	url = https://github.com/Nick-Fanelli/lua.git
[submodule "HarmonyEditor/vendor/nativefiledialog"]
	path = HarmonyEditor/vendor/nativefiledialog
	url = https://github.com/Nick-Fanelli/nativefiledialog
[submodule "HarmonyEngine/vendor/imgui"]
	path = HarmonyEngine/vendor/imgui
	url = htpts://github.com/Nick-Fanelli/imgui.git
[submodule "HarmonyEditor/vendor/ImGuizmo"]
	path = HarmonyEditor/vendor/ImGuizmo
	url = https://github.com/Nick-Fanelli/ImGuizmo
