[submodule "HarmonyEngine/vendor/imgui"]
	path = HarmonyEngine/vendor/imgui
	url = https://github.com/Nick-Fanelli/imgui.git
[submodule "HarmonyEngine/vendor/glm"]
	path = HarmonyEngine/vendor/glm
	url = https://github.com/Nick-Fanelli/glm.git
[submodule "HarmonyEngine/vendor/glfw"]
	path = HarmonyEngine/vendor/glfw
	url = https://github.com/Nick-Fanelli/glfw.git
[submodule "HarmonyEngine/vendor/yaml-cpp"]
	path = HarmonyEngine/vendor/yaml-cpp
	url = https://github.com/Nick-Fanelli/yaml-cpp.git
[submodule "HarmonyEngine/vendor/nativefiledialog"]
	path = HarmonyEngine/vendor/nativefiledialog
	url = git@github.com:Nick-Fanelli/nativefiledialog.git
[submodule "HarmonyEngine/vendor/ImGuizmo"]
	path = HarmonyEngine/vendor/ImGuizmo
	url = git@github.com:Nick-Fanelli/ImGuizmo.git
