[submodule "HarmonyEngine/vendor/imgui"]
	path = HarmonyEngine/vendor/imgui
	url = https://github.com/Nick-Fanelli/imgui.git
[submodule "HarmonyEngine/vendor/glm"]
	path = HarmonyEngine/vendor/glm
	url = https://github.com/Nick-Fanelli/glm.git
